/*------------FONTS------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Tangerine|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

h1{
    font-family: 'Tangerine', serif;
    font-size: 60px;
}

h2, h3, h4, h5, h6, h7, h8{
    font-family: 'Noto Serif SC', serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.sales-pitch p{
    font-family: 'Noto Serif SC', serif; 
    font-weight: 500;
    font-size: 18px;
}

/*------------BORDERS------------*/

.testimonials{
    border-top: 1px solid #000;
}


/*------------NAVIGATION------------*/

.navbar{
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
}

a:hover{
    text-decoration: none;
}

.pagetop-pushdown{
    height: 66px;
}

/*------------IMAGES------------*/

.hero-img{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-img-home{
    background-image: url("../images/herohome.jpg");
    background-position: center 25%;
}

.hero-img-about{
    background-image: url("../images/heroabout.jpg");
    background-position: center 20%;
}

/*------------EMBEDDED VIDEO BACKGROUND------------
Original code credit: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*------------FOOTER------------*/

.text-shadow-2{
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.text-shadow-1{
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}


/*------------SOCIAL ICONS------------*/

.fab{
  color: #ffffff; 
  transition: all 0.5s ease-in-out 0.2s;
}

.fab:hover {
    transform: scale(1.4);
}
  
.fa-instagram:hover {color: #fbad50;}
.fa-pinterest:hover {color: #c8232c;}
.fa-facebook:hover {color: #3b5998;}
.fa-twitter:hover {color: #38A1F3;}
.fa-flickr:hover {color: #ff0084;}


/*------------MEDIA QUERIES------------*/

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}