/*-------------------------------------NAVIGATION*/

.navbar{
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,1);
    text-align: center;
}

a:hover{
    text-decoration: none;
}


/*-------------------------------------IMAGES*/

.hero-img{
    background-image: url("assets/images/herohome.jpg");
    height: 300px;
    min-width: 425px;
    z-index: -1;
}

.hero-img-home{
    width: 100%;
}


/* The hero image */
.hero-image {


  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/*-------------------------------------FOOTER*/

.text-shadow-2{
    text-shadow: 2px 2px #000;
}

.text-shadow-1{
    text-shadow: 1px 1px #000;
}


/*-------------------------------------SOCIAL ICONS*/

.fab{
  color: #ffffff; 
  transition: all 0.5s ease-in-out 0.2s;
}

.fab:hover {
    transform: scale(1.4);
}
  
.fa-instagram:hover {color: #fbad50;}
.fa-pinterest:hover {color: #c8232c;}
.fa-facebook:hover {color: #8b9dc3;}
.fa-twitter:hover {color: #38A1F3;}
.fa-flickr:hover {color: #ff0084;}


